body {
    /*font-family: ;*/
    background-color: #3f3f3f;
    overflow:hidden;
    margin:0px; padding:0px;
}

h2 {
    color: #fff;
    font-size: 32px;
    margin: 5px;
}

game {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    margin:0px; padding:0px;
    left:calc(50% - 712px);
    top:calc(50% - 450px);
    width:1440px; height:900px;
    border-radius: 10px;
    overflow: hidden;
    border:3px solid rgb(150, 150, 150);
    box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.5);
}



.canvas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100%;
    width: 1320px;
    height: 780px;
    background-color: #0d0d0d;
    border: solid gray 40px;
    padding: 20px;
    }

.start-container {
    height: 100%;
    width: 1320px;
    height: 780px;
    background-color: #0d0d0d;
    border: solid gray 40px;
    padding: 20px;
}

.start-wrapper {
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
}

.start-controls .list{
    list-style: none;
}

.selected{
    -webkit-text-stroke: 2px red;
}

.walk {
    grid-area: 2 / 1 / 4 / 2;
    text-align: center;
}
.jump {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    padding-right: 100px;
}
.sneak {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
    padding-right: 100px;
}
.dash {
    grid-area: 2 / 4 / 3 / 5;
    text-align: center;
    padding-right: 100px;
}
.div5 {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    padding-left: 100px;
}
.div6 {
    grid-area: 3 / 3 / 4 / 4;
    text-align: center;
    padding-left: 100px;
}
.div7 {
    grid-area: 3 / 4 / 4 / 5;
    text-align: center;
    padding-left: 100px;
}
.div8 {
    grid-area: 1 / 1 / 2 / 5;
    margin: 20px;
}
.div9 { grid-area: 4 / 1 / 5 / 5; }

.joystick {
    height: 240px;
    width: 240px;
}

.button {
    width: 100px;
    height: 100px;
}