body {
    /* font-family: (Eigen font); */
    overflow:hidden;
    margin:0px; padding:0px;
}

game * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

h2 {
    color: #fff;
    font-size: 32px;
    margin: 5px;
}

.canvas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100%;
    width: 1440px;
    height: 900px;
    background-color: #0d0d0d;
    border: solid gray 40px;
    padding: 20px;
    }

robot {
    background-image: url(../img/robot.png);
    width:150px; height: 230px;
}

.robot-duck{
    background-image: url(../img/robot-duck.png);
    width:150px; height: 230px;
}

enemy1 {
    background-image: url(../img/enemy1.png);
    width:160px; height: 160px;
}

enemy2 {
    background-image: url(../img/enemy2.gif);
    width:120px; height: 192px;
    background-size: contain;
}

tree {
    background-image: url(../img/treeglitched.gif);
    width:320px; height: 320px;
    z-index: -1;
}

.fixed {
    background-image: url(../img/boom.png);
}

background {
    background-image: url(../img/background.png);
    width:1440px; height: 900px;
    background-size: inherit;
    border-image-outset: 10px inherit black;
    z-index: -2;
}

score {
    color:white;
    font-size:26px;
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}

code {
    background-image: url(../img/code.png);
    width: 512px; height: 512px;
}

canvas {
    width:1440px; height: 900px;
    border: 3px inherit black;
}





Terminal1Player {
    background-image: url(../img/terminal1/terminal_enemy1_player.png);
    width:257px; height:338px;
    transform: scale(0.1)
}

Terminal1Block {
    background-image: url(../img/terminal1/block1.png);
    width:382px; height:1080px;
}

messagebox {
    z-index: 2;
    position: fixed;

}

message {
    font-size: 100px;
}




.walk {
    grid-area: 2 / 1 / 4 / 2;
    text-align: center;
}
.jump {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    padding-right: 100px;
}
.sneak {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
    padding-right: 100px;
}
.dash {
    grid-area: 2 / 4 / 3 / 5;
    text-align: center;
    padding-right: 100px;
}
.div5 {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    padding-left: 100px;
}
.div6 {
    grid-area: 3 / 3 / 4 / 4;
    text-align: center;
    padding-left: 100px;
}
.div7 {
    grid-area: 3 / 4 / 4 / 5;
    text-align: center;
    padding-left: 100px;
}
.div8 {
    grid-area: 1 / 1 / 2 / 5;
    margin: 20px;
}
.div9 { grid-area: 4 / 1 / 5 / 5; }

.joystick {
    height: 240px;
    width: 240px;
}

.button {
    width: 100px;
    height: 100px;
}